body {
    counter-reset: body;
    
    /* 修改正文字体 */
    font-family: "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
}

/* 正文标题自动序号 */
h1 {
    counter-reset: h1;
}

h2 {
    counter-reset: h2;
}
h3 {
    counter-reset: h3;
}
h4 {
    counter-reset: h4;
}
h5 {
    counter-reset: h5;
}
h6 {
    counter-reset: h6;
}

h1.article-title {
    counter-reset: body h1 h2 h3 h4 h5 h6;
}
h1:before ,
.article .article-entry h1:hover:before {
    counter-increment: body;
    content: counter(body) ". ";
    position: unset;
}
h2:before ,
.article .article-entry h2:hover:before {
    counter-increment: h1;
    content: counter(body) "." counter(h1) ". ";
    position: unset;
}
h3:before ,
.article .article-entry h3:hover:before {
    counter-increment: h2;
    content: counter(body) "." counter(h1)"." counter(h2) ". ";
    position: unset;
}
h4:before ,
.article .article-entry h4:hover:before {
    counter-increment: h3;
    content: counter(body) "." counter(h1)"." counter(h2)"." counter(h3) ". ";
    position: unset;
}
h5:before ,
.article .article-entry h5:hover:before {
    counter-increment: h4;
    content: counter(body) "." counter(h1)"." counter(h2)"." counter(h3)"." counter(h4) ". ";
    position: unset;
}
h6:before ,
.article .article-entry h6:hover:before {
    counter-increment: h5;
    content: counter(body) "." counter(h1)"." counter(h2)"." counter(h3)"." counter(h4)"." counter(h5) ". ";
    position: unset;
}

/*h1元素的class为article-title，则不添加序号*/
h1.article-title:before {
    content: none;
}
h1.article-title:hover:before {
    content: none;
}
.comments h3:before {
    content: none;
}
.toc-title h3:before {
    content: none
}

/* TOC的标题序号 */
.toc {
    right: 3%;
    top: 10%;
    position: fixed;
    margin: 5px;
    list-style: none;
    counter-reset: toc-body;
}
.toc-item.toc-level-1 {
    counter-reset: toc-level-1;
    list-style: none;
}
.toc-item.toc-level-2 {
    counter-reset: toc-level-2;
    list-style: none;
}
.toc-item.toc-level-3 {
    counter-reset: toc-level-3;
    list-style: none;
}
.toc-item.toc-level-4 {
    counter-reset: toc-level-4;
    list-style: none;
}
.toc-item.toc-level-5 {
    counter-reset: toc-level-5;
    list-style: none;
}
.toc-item.toc-level-6 {
    counter-reset: toc-level-6;
    list-style: none;
}
.toc-item.toc-level-1:before {
    counter-increment: toc-body;
    content: counter(toc-body) ". ";
}
.toc-item.toc-level-2:before {
    counter-increment: toc-level-1;
    content: counter(toc-body) ". " counter(toc-level-1) ". ";
}
.toc-item.toc-level-3:before {
    counter-increment: toc-level-2;
    content: counter(toc-body) ". " counter(toc-level-1) ". " counter(toc-level-2) ". ";
}
.toc-item.toc-level-4:before {
    counter-increment: toc-level-3;
    content: counter(toc-bod) ". " counter(toc-level-1) ". " counter(toc-level-2) ". " counter(toc-level-3) ". ";
}
.toc-item.toc-level-5:before {
    counter-increment: toc-level-4;
    content: counter(toc-bod) ". " counter(toc-level-1) ". " counter(toc-level-2) ". " counter(toc-level-3) ". " counter(toc-level-4) ". ";
}
.toc-item.toc-level-6:before {
    counter-increment: toc-level-5;
    content: counter(toc-bod) ". " counter(toc-level-1) ". " counter(toc-level-2) ". " counter(toc-level-3) ". " counter(toc-level-4) ". " counter(toc-level-5) ". ";
}